<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li> <a href="/">Home</a> </li>
      <li class="active"> Map Creation </li>
    </ol>
  </div>
  <div class="row">
    <!-- add information about current building ~ -->
    <!-- add name! -->

    <!-- https://fontawesome.com/icons/spinner?style=solid -->
    <!-- preview or nah ? -->

    <div class="col-lg-12" ng-app="app" ng-controller="MapCtrl">
      <h1 class="page-header centered"> 
        Create Contiguous Floor Map 

<!-- keep this element with this indentation -->
        <em class="fa fa-info-circle" 
title="Make different floors 
for non-contiguous
sections">
      </em>
      </h1>

      <!-- instructions ~ -->
      <br>
      <p>
        <b>Instruction: </b> .
      </p>
      <!-- fill this out -->
      
      <!-- dimensions table -->
      <div class="centered" style="margin: 20px 20px;">
        <div class="table-centered">
          <div> Dimensions (row, columns) </div>
          <div>&nbsp;</div>
          <input ng-model="y" ng-change="table = createMatrix(x, y); setTableStyling(y)"
                 type="number" step="1" placeholder="Number of rows">
          <div>&nbsp;</div>
          <input ng-model="x" ng-change="table = createMatrix(x, y);"
                 type="number" step="1" placeholder="Number of columns">
        </div>
        <div>
          <b>WARNING:</b> changing these won't preserve data.
          Attempt to have the minimum dimentions needed  before starting.
        </div>
      </div>

      <div ng-hide="(x > 0 && y > 0)" class="centered">
        PEASE ENTER NUMBERS GREATER THAN ZERO!
        <br> Rows {{y}} , Columns {{x}}
      </div>
     
      <br>

      <!-- panoramic preview?  -->

      <!-- map construction area -->
      <div ng-show="(x > 0 && y > 0)">
      <!-- <div> -->
        <div class="table-centered">
          <div> Start Room Number: </div>
          &nbsp;
          <select ng-model="startRoom" ng-options="x for x in picsOptions">
            <option value="" disabled> Choose </option>
          </select>
        </div>
        <br>
        <!-- nested loop to show table -->
        <div ng-repeat="x in table" class="row table-{{tableStyle}}">
          <div ng-repeat="x in table[$index] track by $index" >
            <!-- only allow for unique selection. One number, one time -->
            <select ng-model="table[$parent.$index][$index]"
                    ng-options="x for x in filteredOptions = (picsOptions | notTakenInTable:this:$parent.$index:$index)"
                    class="dropdown"
            >
              <option value="" ng-if="filteredOptions.length > 0"> Picture: </option>
            </select>
          </div>
        </div>
      </div>
      
      <br> <br>

      <!-- shifting buttons -->
      <div class="centered">
        <p>Shift Map <em class="fa fa-info-circle" title="Data WILL be preserved"></em></p>
        <button class="btn btn-info" ng-click="shiftUp()">Up</button>
        <button class="btn btn-info" ng-click="shiftDown()">Down</button>
        <button class="btn btn-info" ng-click="shiftRight()">Right</button>
        <button class="btn btn-info" ng-click="shiftLeft()">Left</button>
      </div>

      <br> <br>

      <!-- 
      {{$root.pics}}
      {{table}}
      {{loading}}
       -->

      <br> <br>

      <div class="right">
        <button ng-click="buildFloor()" class="btn btn-success">
          Create Virtual Floor
        </button>
      </div>

      <div ng-if="vid">{{vid}}</div>
    </div>
  </div>
</div>