<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Image Upload Edits
            </h1>
        </div>
    </div>
    <!--Need a column on the left for list of images uploaded-->
    <div class="row">
        <div class="col-lg-12">
            <p>Images to be processed</p>
        </div>
    </div>
    <!--Select the Building and floor for the images uploaded-->
    <div class="row">
    </div>
    <!--Edit data about room-->
    <div class="row">
    </div>
    <!--"Map view" of relative image location-->
    <div class="row">
    </div>
</div>