<div class="container">
  <div class="row">
    <div>
      <ol class="breadcrumb">
        <li> <a href="../">Home</a> </li>
        <li class="active"> New Building </li>
      </ol>
    </div>
  </div>
  <div class="row centered">
    <div class="centered" style="">
    <!-- tba -->
    <!-- <div class="col-md-6"> -->
      
      <form>
        <!-- Change to dynamic forms that rerfence information stored, created in LocationCreation-->
        <div class="row">
          <input type="text" placeholder="Central Office Name" required>
        </div>

        <div class="row">
          <input type="text" placeholder="City" required>
        </div>

        <div class="row">
          <select type="text" name="State" required style="">
            <option value=""> State </option>
          </select>
        </div>

        <!-- ng-click="submit()" -->
        <input class="btn btn-success" type="submit"
               value="Initiate your VR experience!" >
        </input>
        </form>      
    </div>
  </div>
</div>