<!-- Page Content -->
<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li> <a href="/">Home</a> </li>
      <li class="active"> New Floor </li>
    </ol>
  </div>
  <div class="row">
    <div ng-app="app" ng-controller="FloorsCtrl"></div>
    <div class="col-lg-12">
      <h1 class="page-header centered">New Floor Image Upload</h1>
    </div>

    <div class="col-lg-12">
      <p> 
        Upload un/stiched panoramic 360° from Gear 360 Camera.
        <br>
        <br>
        If you already have panoramic-ready pictures feel free to opt-out of auto-conversion.
        <br>
        <br>
        Expect a maximum processing time of 30 seconds per picture if you're auto-converting now.
        <br>
        <br>
        <b>Remember</b> the order on which you submited them, as it'll be used for the next step.
      </p>

      <br>

      <!-- custom directive to process files -->
      <input type="file" id="up" multiple accept="image/*" severful="$root.data" names="$root.names">

      <div class="" ng-show="names.length > 1">
        <br>
        Files: <div ng-repeat="n in names">{{n}}</div> <br>
        <br>
      </div>

      <div class="right" ng-show="$root.data">
        <!-- 
        <div>
          <label>
          Converting to Panoramic?
          <input type="checkbox" ng-model="$root.stitch" >
          </label>
        </div>
         -->
        <input class="btn btn-primary" ng-click="sendImagesToServer()" 
        value="Upload Image(s)">
      </div>

      <!-- have an option for 'stitch' or not -->

    </div>
  </div>
</div>