<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Image Upload Edits
            </h1>
        </div>

    </div>
    <!-- /.row -->

    <!--Need a column on the left for list of images uploaded-->
    <div class="row">

        <div class="col-lg-12">
            <p>Images to be processed</p>
        </div>

    </div>
    <!-- /.row -->

    <!--Select the Building and floor for the images uploaded-->
    <div class="row">

    </div>
    <!-- /.row -->

    <!--Edit data about room-->
    <div class="row">

    </div>
    <!-- /.row -->

    <!--"Map view" of relative image location-->
    <div class="row">

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
