<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">
                VR Page Selection
            </h1>
            <ol class="breadcrumb">
                <li class="active">Select a location to start</li>
                <li>
                    <a href="#/LocationCreation">Location not listed? List it Here</a>
                </li>
            </ol>
        </div>

    </div>

    <!--New row for drop down selection form-->
    <div class="row">
        <!--Form for building/floor/room-->
        <div ng-app="tutorialWebApp" ng-controller="formCtrl">
            <form novalidate>
                <!--Change to dynamic forms that rerfence information stored, created in LocationCreation-->
                Building:<br>
                <select ng-model="building">
                    <option value="">
                    <option value="dogs">Dogs
                </select>
                <br>

                Floor:<br>
                <select ng-model="floor">
                    <option value="">
                    <option value="dogs">Dogs
                </select>
                <br>

                Room:<br>
                <select ng-model="room">
                    <option value="this.room">List rooms
                    <option value="dogs">Dogs
                </select>
                <br><br>

                <button ng-click="submit()">SUBMIT NOT IMPLEMENTED</button>
            </form>
        </div>
    </div>
    <!-- /.row-->

    <!--Go button redirect to desired destination-->
    <div>
        <a href="#VRView">Theoretical Go button</a>
    </div>

 </div>
<!-- /.container -->

