<footer>
    <div class="container">
      <p class="pull-left">
        <img src="./static_assets/v_logo.svg" id="logo"> &amp; Serverful &copy; 2018
      </p>
      <!-- © -->
      
      <p class="pull-right"> <a href="us">About us</a> </p>
    </div>
</footer>

<!-- JS Dependencies -->

<!-- Vendor: Javascripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js" integrity="sha256-TjKvu34orT4v6tdwMFrmvqieKl/Rdep7T8hVq57FmEk=" crossorigin="anonymous"></script> -->

<!-- Vendor: Angular, followed by our custom Javascripts -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>


<!-- Our Website Javascripts -->
<script src="./angular/entry.js"></script>
<script src="./angular/filters.js"></script>
<script src="./angular/http.factory.js"></script>
<script src="./angular/client.routes.js"></script>
<script src="./angular/page.controller.js"></script>
<script src="./angular/form.controller.js"></script>
<script src="./angular/global.controller.js"></script>
<script src="./angular/file.upload.directive.js"></script>