<footer>
    <div class="container">
    	<!-- 
        <p><a href="https://github.com/Marcial1234/ippd/tree/master" target="_blank">Github</a></p>
    	 -->
    	 <p> Verizon & Serverful © 2018 </p>
    </div>
</footer>
